# Central .gitignore for nutrition_wallet

# frontend dependencies
frontend/node_modules/
frontend/.next/

## frontend env files
frontend/.env
frontend/.env.*
frontend/.env.local

## bakckend env files
backend/.env          
backend/.env.*

## misc
frontend/.DS_Store
frontend/*.pem

## typeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# backend dependencies
backend/.venv/
backend/env/
backend/*venv*/

# pycache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python