:root {
  --background: #ffffff;
  --foreground: #171717;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --text-black: #222222;
  --dark-green: #677a78;
  --forest-green: #123814;
  --light-green: #b8cf81;
  --lighter-green: #d3e3ac;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-black: #222222;
    --dark-green: #677a78;
    --forest-green: #123814;
    --light-green: #b8cf81;
    --lighter-green: #d3e3ac;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: GFS Neohellenic, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* gfs neohellenic font classes */
.gfs-neohellenic-regular {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gfs-neohellenic-bold {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.gfs-neohellenic-regular-italic {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.gfs-neohellenic-bold-italic {
  font-family: "GFS Neohellenic", sans-serif;
  font-weight: 700;
  font-style: italic;
}